@import '../../../styles/mixins/index.scss';

.topbar {
 background-color: $theme-primary-background-color;   
 padding: 5px 0;

 p {
    @include font14;
    color: $theme-white;
    text-align: center;

    span {
        text-decoration-line: underline;
        font-weight: 500;
    }
}
}