$theme-primary-background-color:#625DF5;
$theme-white:#fff;
$theme-light-100:#C1C1C9;
$theme-gray:#E2E2E4;
$theme-gray-100:#ABABB2;
$theme-gray-800:#8A8A8A;
$theme-gray-200:#B0B0B7;
$theme-light-white:rgba(255, 255, 255, 0.70);
$theme-light-white-900:rgba(238, 238, 238, 0.90);
$theme-light-white-800:rgba(255, 255, 255, 0.80);
$theme-light-white-700:rgba(255, 255, 255, 0.75);
$search-input-background-color:rgba(255, 255, 255, 0.08);
$search-input-border-color:rgba(255, 255, 255, 0.12);
$divider-color:rgba(255, 255, 255, 0.18);
$theme-button-border-color:#9B9AA3;
$theme-light-background:rgba(255, 255, 255, 0.08);

