@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

@mixin font14 {
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin font16-bold {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

@mixin font16 {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin font18 {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@mixin font12-bold {
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin font20 {
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin font22 {
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin heading1 {
    font-family: 'Mulish', sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px;
}

@mixin heading2 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin heading3 {
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin heading5 {
    font-family: 'Mulish', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}